@font-face{
    font-family: gothamRoundedBold;
    src: url('../fonts/GothamRounded-Bold.otf');
}

@font-face{
    font-family: gothamRoundedMedium;
    src: url('../fonts/GothamRounded-Medium.otf');
}

@font-face{
    font-family: gothamRoundedLight;
    src: url('../fonts/GothamRounded-Light.otf');
}