.main-header{
    color: black;
    transition: .4s ease-out;

    .menu-icon{
        position: relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;
        display: none;
    
        &__line{
            display: block;
            position: relative;
            background: black;
            height: 2px;
            width: 20px;
            border-radius: 4px;
            transition: background .8s ease;
    
            &::before, &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                background: #000;
                transition: background .8s ease;
            }
            
            &::before{
                transform: translateY(-5px);
            }
            &::after{
                transform: translateY(5px);
            }
        }
    
    }
    
    .menu-btn{
        display: none; 
    }
    
    &.scrolled{
        background: white;
        color: black;

        &__line,
        &__line::before,
        &__line::after{
            background: #fff;
        }
    }
}